category-container {
	display: flex;
	flex-direction: column;
	row-gap: 0.6em;
	margin-inline: 1em;
	height: 93vh;
	overflow-y: auto;
	scrollbar-width: thin;
}

category-label {
	display: block;
	font-size: small;
	color: grey;
	padding: 0.4em;
}

category-collectionbox {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	border: var(--border);
	border-radius: 0.5em;
	padding: 0.8em;

	& [hidden] {
		display: none;
	}
}

download-file-card {
	display: flex;
	flex-direction: column;
	row-gap: 0.4em;
	width: 19vw;

	border-radius: 0.4em;
	box-shadow: var(--card);
	position: relative;

	& .action-menu-wrapper:focus-within file-action-menu {
		scale: 1;
	}

	& atom-icon[ico="menu"] {
		position: absolute;
		right: 0;
		top: 2px;
	}

	& .description {
		line-clamp: 5;
		padding-inline: 0.4em;
	}
}

download-file-card {
	&:hover atom-icon {
		opacity: 1;
	}

	& atom-icon {
		opacity: 0;
		transition: opacity 200ms ease-out, scale 300ms ease-out;

		&:hover {
			scale: 1.2;
		}
	}

	& > img {
		max-width: 100%;
		max-height: 10lh;
		object-fit: cover;
		border-radius: 0.4em 0.4em 0 0;
	}
}

file-action-menu {
	width: max-content;
	position: absolute;
	right: 0;
	top: 1.6em;
	z-index: 10;
	scale: 0;
	border-radius: 0.4em;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 20%));
	transform-origin: top;
	transition: scale 200ms ease-out;

	& li {
		list-style-type: none;
		padding: 0.2em 0.5em;
		margin-bottom: 0.2em;
		cursor: pointer;

		&:not(:last-child) {
			border-bottom: var(--border);
		}
	}
}
