dialog {
	border: none;
	padding: 0.5em;
	box-shadow: var(--card);
	border-radius: 0.4em;
	color: inherit;
	background-color: light-dark(white, hsl(0, 0%, 25%));
	transform-origin: right;

	&[open] {
		animation: slide-from-right 0.6s ease-out normal;
	}
}

dialog {
	margin: unset;
	inset: unset;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	padding: 0;
}
