downloads-manager {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	max-height: 600px;
	overflow-y: auto;
	scrollbar-width: thin;
}

datewise-downloads {
	padding: 0.5em;

	& > ul {
		display: flex;
		flex-direction: column;
		row-gap: 0.5em;
	}
}

download-file-info {
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: var(--card);
	background-color: light-dark(white, hsl(0, 0%, 16%));

	& .file-info {
		display: flex;
		column-gap: 0.5em;

		& > svg {
			height: 2em;
			width: 2em;
		}
	}

	& .file-meta {
		font-size: small;
		color: gray;
	}

	& .download-controller {
		margin-left: auto;
	}

	& progress {
		width: 100%;
		height: 20px;
	}

	& .status-bar {
		font-size: small;
	}
}

downloads-manager + button {
	display: block;
	margin-inline: auto;
	padding: 0.5em;
	border-radius: 0.5em;
	box-shadow: var(--card);
	background-color: var(--main-clr);
}
